*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    color:var(--focus-color)
}

li{
    list-style: none;
}
:root{
    --main-color: #141414;
    --secondary-color: #DB2E3A;
    --focus-color: #E5E6E6;
    --focus2-color: #B0B5E1;
}
body{
    background-color: var(--main-color);
}